<ul class="list-group">
  <li *ngFor="let user of users" class="list-group-item d-flex justify-content-between align-items-center">
    {{ user.name }}
    <span class="badge badge-primary badge-pill">{{ user.email | toUpercasse}}</span>
  </li>
</ul>